/index.php/
/package-lock.json
/node_modules/
*
!/package.json
!/index.php
!/.gitignore
!/README.md
!/af-xml-grid/
!/af-xml-grid/**
/dev/
/dev/af-xml-grid/blocks/
/dev/af-xml-grid/blocks/**
!/dev/**
!/plugin/
!/plugin/**