/index.php/
/package-lock.json
*
!/package.json
!/index.php
!/.gitignore
!/README.md
!/af-xml-grid/
!/af-xml-grid/**
/dev/
/dev/node_modules/
/dev/af-xml-grid/blocks/
/dev/af-xml-grid/blocks/**
!/dev/**
!/plugin/
!/plugin/**